<ng-template #agregarDialogo let-data let-ref="dialogRef">
  <form [formGroup]="autosForm" (ngSubmit)="onAgregarAuto(); ref.close()">
    <nb-card>
      <nb-card-header>Agregar Auto</nb-card-header>
      <nb-card-body>

        <div>      
          <p class="label">Modelo:</p>
          <nb-select fullWidth placeholder="Auto" formControlName="modelo">
            <nb-option *ngFor="let modelo of modelos" [value]="modelo">
              {{modelo}}      
            </nb-option>
          </nb-select>
        </div>
        <div>
          <p class="label">Placa:</p>
          <input nbInput fullWidth formControlName="placa" maxlength="7" minlength="7">
        </div>

      </nb-card-body>
      <nb-card-footer id="nuevaFooter">
        <button nbButton outline ghost status="basic" (click)="ref.close()" class="cancelarBtn">Cancelar</button>
        <button nbButton status="success" type="submit" [disabled]="!autosForm.valid">Agregar</button>
      </nb-card-footer>
    </nb-card>
  </form>
</ng-template>
  
  
<div id="TitleContainer">
  <h5>Tus autos</h5>
</div>

<div id="Wrapper">
  <!-- AUTOS -->
  <div id="Cards">
    <app-tarjeta-auto *ngFor="let auto of autos"
                      [auto]="auto">
    </app-tarjeta-auto>
  </div>

  <!-- MENU -->
  <div id="Menu" class="container">
    <button status="success" nbButton (click)="open(agregarDialogo)">
      <nb-icon icon="plus"></nb-icon>
    </button>
  </div>
</div>
