<nb-card-body>
  <div *ngIf="fotoUrl" class="content">
    <img [src]="fotoUrl | async" class="auto"/>
  </div>
  <div class="content">
    <div class="horas">
      <span>{{prettyDate2(reservacion.horaEntrada.toDate())}}</span>
      <nb-icon icon="arrow-forward"></nb-icon>
      <span>{{prettyDate2(reservacion.horaSalida.toDate())}}</span>
    </div>
    <span class="cajon"><span class="hint">Cajón: </span><b>{{reservacion.cajon}}</b></span>
    <button outline fullWidth nbButton>Alargar reservación</button>
  </div>
</nb-card-body>
  
