<ng-template #alargarDialog let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>Alargar Reservación</nb-card-header>
        <nb-card-body>
          <p class="label">Horas a añadir:</p>
          <input nbInput fullWidth type="number" pattern="\d*">
        </nb-card-body>
        <nb-card-footer>
          <button nbButton (click)="ref.close()">Close Dialog</button>
        </nb-card-footer>
      </nb-card>
</ng-template>





<nb-card-body>
  <div *ngIf="fotoUrl" class="content">
    <img [src]="fotoUrl | async" class="auto"/>
  </div>
  <div class="content">
    <div class="horas">
      <span class="hint" id="intervLbl">Intervalo en horas:</span>
      <span>{{prettyDate2(reservacion.horaEntrada.toDate())}}</span>
      <nb-icon icon="arrow-forward"></nb-icon>
      <span>{{prettyDate2(reservacion.horaSalida.toDate())}}</span>
    </div>
    <span class="cajon"><span class="hint">Cajón: </span><b>{{reservacion.cajon}}</b></span>
    <button outline fullWidth nbButton (click)="open(alargarDialog)">Alargar reservación</button>
  </div>
</nb-card-body>
  
