<ng-template #dialog let-data let-ref="dialogRef" >
  <nb-card size="large" class="terminosCard">
    <nb-card-header>Acerca de nosotros</nb-card-header>
    <nb-card-body>
      Auto-matic es 
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Cerrar</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
<nb-layout>
  <nb-layout-header fixed>
    <div id="leftHeader">
      <h3>auto-matic</h3>
    </div>
    <div id="rightHeader">
      <nb-select placeholder="Seleccionar Tema" [(selected)]="temaSeleccionado" (selectedChange)="cambiarTema()">
        <nb-option *ngFor="let tema of temas" [value]="tema">{{tema.alias}}</nb-option>
      </nb-select>
      <button nbButton routerLink="../dashboard-usuario" class="needsMargin" status="success" *ngIf="userIsLogged">
        Ir al dashboard </button>
      <button nbButton outline routerLink="../registro" class="needsMargin" *ngIf="!userIsLogged">Registrarse</button>
      <button nbButton routerLink="../registro/login" *ngIf="!userIsLogged">Iniciar sesión</button>
    </div>
  </nb-layout-header>
  <nb-layout-column>
    <div id=eslogan>
      <div id=column1>
          <h3 id="TextoEslogan">¿Cansado de buscar estacionamiento? Esto es para ti</h3>
          <p id="Desc">Auto-matic es un estacionamineto seguro para nuestros autos con el mejor precio</p>
          <button nbButton routerLink="../registro" class="margen" status="primary">Empecemos</button>
          <button nbButton outline (click)="abrirAcercaDe(dialog)" class="margen" status="info">Acerca de</button>
      </div>
      <div id=column2>
        <img id="imagen" src="../../assets/landing_asset.png"/>
      </div>   
    </div>
  </nb-layout-column>
</nb-layout>