@import '../../themes.scss';
:host nb-layout-header ::ng-deep nav {
  #rightHeader{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end; 

    nb-select{
     margin-right: 1rem; 
    }
    .needsMargin{
      margin-right: 1rem;
    }
  }
  
}
#eslogan{
  display: flex;
  justify-content: space-between;
  align-content: center;
}
#column1{
  display: inline-block;
  margin-block-start: 3rem;
}
#coumn2{
  display: inline-block;
}
#imagen{
  margin-top: none;
  width: 60rem;
}
#TextoEslogan{
  color: #1C2833;
  //color: #598bff;
}
#Desc{
  color: #515A5A;

  //color: #B2BABB;
}