@import '../../themes.scss';
:host nb-layout-header ::ng-deep nav {
  #rightHeader{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end; 

    nb-select{
     margin-right: 1rem; 
    }
    .needsMargin{
      margin-right: 1rem;
    }
  }
}
:host nb-layout-column ::ng-deep nav{
  #TextoEslogan{
    color: nb-theme(color-basic-1100);
  }
  #Desc{
    color: nb-theme(color-basic-600);
  }
}
#eslogan{
  display: flex;
  justify-content: space-between;
  align-content: center;
}
#column1{
  display: inline-block;
  margin-block-start: 3rem;
}
#coumn2{
  display: inline-block;
}
#imagen{
  margin-top: none;
  width: 57rem;
}
.margen{
  margin-right: 2rem;
}