.wrapper{
  display: flex;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}
.container{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 1rem;
}

.hours, .car{
  display: flex;
  nb-icon{
    margin-right: 0.6rem;
  }
}

p{
  margin: 0.3rem 0;
}


#deleteBtn{
  // padding: 0.3rem;
  // align-self: flex-end;
  // position: relative;
  // right: -0.3rem;
  width: 100%;
  margin-top: 0.3rem;
}