.wrapper{
  display: flex;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}
.container{
  width: 50%;
  padding: 0 1rem;
}

.hours, .car{
  display: flex;
  nb-icon{
    margin-right: 0.6rem;
  }
}

p{
  margin: 0.3rem 0;
}
