@import '../reservaciones-usuario/reservaciones-usuario.component.scss';

#MapsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.map{
  
}