<ng-template #addReserv let-data let-ref="dialogRef">
  <form [formGroup]="resvForm" (ngSubmit)="onSubmitAdd(); ref.close()">
  <nb-card id="nuevaReserva">
    <nb-card-header>Realizar reservación</nb-card-header>
      <nb-card-body class="dialog">
        <p class="label">Fecha:</p>
        <div>
          <input nbInput fullWidth [nbDatepicker]="datepicker"
          formControlName="fecha">
          <nb-datepicker #datepicker [min]="ayer"></nb-datepicker>
        </div>
        <p class="label">Tiempo de reservación:</p>
        <div id="horasInputs">
          <input nbInput fullWidth type="time"
          formControlName="horaInicio"
          [status]="getFormControl('horaFin').dirty ? (getFormControl('horaInicio').value >= getFormControl('horaFin').value  ? 'danger' : 'success') : ''">
          <nb-icon icon="arrow-forward"></nb-icon>
          <input nbInput fullWidth type="time" [min]="resvForm.horaInicio"
          formControlName="horaFin"
          [status]="getFormControl('horaFin').dirty ? (getFormControl('horaInicio').value >= getFormControl('horaFin').value  ? 'danger' : 'success') : ''">
        </div>
        <div *ngIf="getFormControl('horaInicio').value >= getFormControl('horaFin').value && getFormControl('horaFin').touched">
            <p class="caption status-danger">
              La hora final debe ser mayor a la de inicio
            </p>
        </div>
        <p class="label">Auto:</p>
        <div>      
          <nb-select fullWidth placeholder="Auto" formControlName="auto">
            <nb-option *ngFor="let auto of autos" [value]="auto.modelo">
              {{auto.modelo}} [{{auto.placa}}]      
            </nb-option>
          </nb-select>
        </div>
      </nb-card-body>
      <nb-card-footer id="nuevaFooter">
        <button nbButton ghost status="basic" (click)="ref.close()">Cancelar</button>
        <button nbButton status="success" type="submit" [disabled]="!resvForm.valid">Reservar</button>
      </nb-card-footer>
  </nb-card>
  </form>
</ng-template>

<ng-template #alargarReserv let-data let-ref="dialogRef" class="dialog">
  <nb-card>
    <nb-card-header>Alargar reservación</nb-card-header>
    <nb-card-body class="dialog">

    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Cerrar</button>
    </nb-card-footer>
  </nb-card>
</ng-template>


<div id="TitleContainer">
  <h5>Tus reservaciones</h5>
  <button nbButton (click)="open(addReserv)">Reservar un cajón</button>
</div>

<div>
  <nb-card>
    <nb-card-header>En curso</nb-card-header>
    <app-tarjeta-en-curso *ngFor="let reservacion of reservacionesEnCurso"
                          [reservacion]="reservacion">
    </app-tarjeta-en-curso>
  </nb-card>
  <div class="mediumCards">
      <nb-card size="medium">
        <nb-card-header>Pasadas</nb-card-header>
        <nb-card-body>
          <nb-list>
            <nb-list-item *ngFor="let reservacion of reservacionesPasadas">
              <app-tarjeta-pasada [reservacion]="reservacion">
              </app-tarjeta-pasada>            
            </nb-list-item>              
          </nb-list>
        </nb-card-body>
      </nb-card>
      <nb-card size="medium">
        <nb-card-header>Próximas</nb-card-header>
        <nb-card-body>
          <nb-list>
            <nb-list-item *ngFor="let reservacion of reservacionesProximas">
              <app-tarjeta-pasada [reservacion]="reservacion" deletable="true">
              </app-tarjeta-pasada>            
            </nb-list-item>              
          </nb-list>
        </nb-card-body>
      </nb-card>
  </div>
</div>
