<h5>Tus reservaciones</h5>
<div>
  <nb-card>
    <nb-card-header>En curso</nb-card-header>
    <app-tarjeta-en-curso *ngFor="let reservacion of reservacionesEnCurso"
                                [reservacion]="reservacion">
    </app-tarjeta-en-curso>
  </nb-card>
  <div class="mediumCards">
      <nb-card size="medium">
        <nb-card-header>Pasadas</nb-card-header>
      </nb-card>
      <nb-card size="medium">
        <nb-card-header>Próximas</nb-card-header>
      </nb-card>
  </div>
</div>
