@import '../../../../themes.scss';

:host {
  h5{
    margin: 0 0 1.3rem 0;
    color: nb-theme(text-hint-color);
  }

  .mediumCards{

    display: flex;
    justify-content: space-between;
    align-content: center;

    nb-card{
      width: 48%;
    }
  }
}