<ng-template #addReserv let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Realizar reservación</nb-card-header>
    <nb-card-body>
      <input nbInput [nbDatepicker]="datepicker">
      <nb-datepicker #datepicker></nb-datepicker>
      <div>
        <input nbInput>
        <input nbInput>
      </div>
      <nb-select></nb-select>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton outline (click)="ref.close()">Cancelar</button>
      <button nbButton status="success">Reservar</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #alargarReserv let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Alargar reservación</nb-card-header>
    <nb-card-body>

    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Cerrar</button>
    </nb-card-footer>
  </nb-card>
</ng-template>


<div id="TitleContainer">
  <h5>Tus reservaciones</h5>
  <button nbButton (click)="open(addReserv)">Reservar un cajón</button>
</div>
<div>
  <nb-card>
    <nb-card-header>En curso</nb-card-header>
    <app-tarjeta-en-curso *ngFor="let reservacion of reservacionesEnCurso"
                          [reservacion]="reservacion">
    </app-tarjeta-en-curso>
  </nb-card>
  <div class="mediumCards">
      <nb-card size="medium">
        <nb-card-header>Pasadas</nb-card-header>
        <nb-card-body>
          <nb-list>
            <nb-list-item *ngFor="let reservacion of reservacionesPasadas">
              <app-tarjeta-pasada [reservacion]="reservacion">
              </app-tarjeta-pasada>            
            </nb-list-item>              
          </nb-list>
        </nb-card-body>
      </nb-card>
      <nb-card size="medium">
        <nb-card-header>Próximas</nb-card-header>
        <nb-card-body>
          <nb-list>
            <nb-list-item *ngFor="let reservacion of reservacionesProximas">
              <app-tarjeta-pasada [reservacion]="reservacion">
              </app-tarjeta-pasada>            
            </nb-list-item>              
          </nb-list>
        </nb-card-body>
      </nb-card>
  </div>
</div>
