@import '../../../../themes.scss';

:host {
  .mediumCards{
    display: flex;
    justify-content: space-between;
    align-content: center;

    nb-card{
      width: 48%;
    }
  }

  #TitleContainer{
    width: 100%;
    position: relative;

    h5{
      display: inline-block;
      margin: 0 0 1.6rem 0;
      color: nb-theme(text-hint-color);
    }

    button{
      position: absolute;
      right: 0;
    }
  }

}

.label{
  color: nb-theme(text-hint-color);
  font-weight: 500;
  font-size: 0.9rem;
}

nb-select{
  margin-bottom:1rem;
}

#nuevaReserva{
  width:20rem;

  nb-card-footer{
    display: flex;
    justify-content: flex-end;

    button:first-child{
      margin-right: 0.8rem;
    }

  }
}


#horasInputs{
  display: flex;
  justify-content: space-between;
  align-items: center;

  input{
    width: 7.5rem;
  }
}