@import '../../themes.scss';

a, nb-checkbox{
  cursor: pointer;
}

.backBtn{
  font-size: 2rem;
}

nb-card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}

label{
  display: block;
  margin-bottom: 0.5rem;
}

.input-combo{
  width: 100%;
  max-width: 20rem;
  margin-bottom: 1.5rem;
}

@include nb-install-component {
  .text-anchor{
    color: nb-theme(text-hint-color);
  }
  .text-anchor:hover{
    color: nb-theme(text-primary-color);
  }
}
