<nb-layout>
    <nb-layout-column>
      <nb-card>
        <nb-card-header>
          <a routerLink=".."><nb-icon icon="arrow-back-outline" class="backBtn"></nb-icon></a>
        </nb-card-header>
        <nb-card-body>
          <h2>Regístrate</h2>

          <div class="input-combo">
            <label  for="input-nombre">Nombre Completo:</label>
            <input  nbInput
                    fullWidth
                    placeholder="Nombre Completo"
                    id="input-nombre">
          </div>

          <div class="input-combo">
            <label  for="input-email">Email:</label>
            <input  nbInput
                    fullWidth
                    placeholder="Email"
                    id="input-email">
          </div>

          <div class="input-combo">
            <label  for="input-contraseña">Contraseña:</label>
            <input  nbInput
                    fullWidth
                    placeholder="Contraseña"
                    id="input-contraseña">
          </div>

          <div class="input-combo">
            <label  for="input-contraseña2">Repetir contraseña:</label>
            <input  nbInput
                    fullWidth
                    placeholder="Repetir contraseña"
                    id="input-contraseña2">
          </div>

          <div class="input-combo">
            <nb-checkbox name="terms">
              Acepto los <a href="#" target="_blank"><strong>términos y condiciones</strong></a>.
            </nb-checkbox>
          </div>

          <div class="input-combo">
            <input  (click)="onClick()" 
                    nbButton 
                    type="submit" 
                    value="Registrarme"
                    fullWidth
                    size="large"
                    />
          </div>

          <section>
            o entra con:
            <div>
                <a routerLink=".." class="text-anchor"><nb-icon icon="google"></nb-icon></a>
                <a routerLink=".." class="text-anchor"><nb-icon icon="facebook"></nb-icon></a>
                <a routerLink=".." class="text-anchor"><nb-icon icon="twitter"></nb-icon></a>
            </div>
          </section>
          
          <section>
            ¿Ya tienes una cuenta? <a class="text-anchor">Inicia sesión</a>
          </section>

        </nb-card-body>
      </nb-card>
    </nb-layout-column>
</nb-layout>
   
  